<strong>Olá, {{ student }}</strong>
<p>O seu pedido de ajuda foi respondido:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <small>Estamos sempre a disposição.</small>
</p>
